<!-- Main window -->
<div class="main_container" id="forms_page">
    <div class="row-fluid">
        <ul class="breadcrumb">
        </ul>
        <h3 class="heading">
            首页主界面
            <div class="btn-group pull-right">
                <button class="btn"><i class="icon-download-alt"></i>   Export</button>
                <button class="btn"><i class="icon-envelope"></i>   Email</button>
                <button class="btn"><i class="icon-cog"></i>   Settings</button>
            </div>
        </h3>
    </div>
    <div class="row-fluid">
        <div class="widget span12" style="overflow:visible;">
            <a class="btn btn-box bubble bubble-danger span2 tips" data-title="bubble-danger" href="#examinee" data-bubble="5k"><i class="icon-user"></i>  <span>考生信息管理</span></a>
            <a class="btn btn-box span2" href="#make_test"><i class="icon-plus-sign"></i>  <span>管理套题</span></a>
            <a class="btn btn-box bubble bubble-success span2 tips" data-title="bubble-success" href="#examinee_batch" data-bubble="102"><i class="icon-sitemap"></i>  <span>考生分批</span></a>
            <a class="btn btn-box span2" href="#organization_exam"><i class="icon-calendar"></i>  <span>组织考试</span></a>
            <a class="btn btn-box bubble bubble-info span2 tips" data-title="bubble-info" href="#analytics_exam" data-bubble="2"><i class="icon-signal"></i>  <span>考试成绩统筹图</span></a>
            <a class="btn btn-box span2" href="#analytics_examinee" data-bubble="2"><i class="icon-lightbulb"></i>  <span>考生成绩统筹图</span></a>

        </div><!-- /widget -->
    </div><!-- /row-fluid -->
    <div class="row-fluid">
        <div class="widget widget-padding span12">
            <div class="widget-header">
                <i class="icon-external-link"></i>  <h5>系统说明：</h5>
                <div class="widget-buttons">
                    <a href="/#ssss" data-title="Collapse" data-collapsed="true" class="tip collapse"><i class="icon-chevron-up"></i>  </a>
                </div>
            </div>
            <div class="widget-body" id="ssss">
                <div class="alert alert-info" style="margin:0;">
                    <strong>
                        <h4>
                            该套系统是一套集考试题库管理、考试信息管理和考试成绩管理三位一体的综合性考试管理系统。
                        </h4>
                    </strong><br>
                    <strong>
                        It is a set of synthesizing system of examination management including the management of the exercise database and the management of examination score and the management of examination information.
                    </strong><br><br>
                    <strong><h4>前端使用技术：</h4></strong><br>
                    <ul>
                        <li><a href="javascritp:;">Bootstrap--响应式布局</a></li>
                        <li><a href="javascritp:;">AngularJS--数据双向绑定</a></li>
                        <li><a href="javascritp:;">jQuery--优秀的Javascript库</a></li>
                        <li><a href="javascritp:;">及其基于jQuery的相关组件</a></li>
                    </ul>
                    <br>
                    <strong><h4>后端使用技术：</h4></strong><br>
                    <ul>
                        <li><a href="javascritp:;">Spring MVC--MVC架构的Controller层</a></li>
                        <li><a href="javascritp:;">Spring    --MVC架构的Sevice、Domain层</a></li>
                        <li><a href="javascritp:;">MyBtais   --MVC架构的Dao层</a></li>
                        <li><a href="javascritp:;">Mysql     --最流行开源的关系型数据库</a></li>
                    </ul><br>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Main window -->